.react-calendar-heatmap .lowcommit { fill: rgb(231, 190, 255); }
.react-calendar-heatmap .mediumcommit { fill: rgb(220, 160, 255); }
.react-calendar-heatmap .highcommit { fill: rgb(185, 65, 255); }
.react-calendar-heatmap .hugecommit { fill: rgb(127, 0, 201);  }