.react-calendar-heatmap .lowcommit { fill: rgb(231, 190, 255); }
.react-calendar-heatmap .mediumcommit { fill: rgb(201, 109, 255); }
.react-calendar-heatmap .highcommit { fill: rgb(163, 3, 255); }
.react-calendar-heatmap .hugecommit { fill: rgb(77, 0, 122);  }